* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eae7e7;
}

h1 {
  font-family: OCR A Std, monospace;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  color: rgb(44, 46, 47);
}

.main-box {
  border-radius: 50%;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.green {
  background-color: #4e8651;
}

.colum {
  width: 100%;
  flex: 1 1 20%;
  display: flex;
  justify-content: space-around;
}

.pix-pic-box {
  /*Linhas do lcd*/
  align-items: center;
  display: flex;
  /*flex-wrap: wrap;*/
  width: 100%;
}

.pix-box {
  display: flex;
  flex-wrap: wrap;
  width: 5%;
  padding: 10px;
}

/* .input-box{
  width: 90%;
} */

input{
  border-radius: 10%;
  width: 100%;
  height: 20px;
  margin-right: 1px;
  margin-left: 1px;
}

.dot-px {
  width: 0.75vw;
  padding-bottom: 15%;
  margin: 2%;
  box-sizing: border-box;
  display: inline-block;
  border: #fff 1px solid;
  cursor: pointer;
}

.high {
  background: #364d36;
  border-color: #1b5e20;
}

.button-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  justify-content: center;
  display: flex;
  font-weight: 400;
  background-color: #547980;
  /* text-align: center;
  vertical-align: middle;
  user-select: none; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.send-button {
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  width: 100%;
  display: flex;
  font-weight: 900;
  background-color: #3e5e3f;
  /* text-align: center; */
  /* vertical-align: middle; */
  /* user-select: none; */
  border: 0.5px solid transparent;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.copy-button {
  margin-top: 0px;
}

:hover.button {
  color: #fff;
  background-color: #304549;
  border-color: #3c565c;
}

:hover.send-button {
  color: #fff;
  background-color: #2e442e;
  border-color: #456a46;
}

@media screen and (max-width: 1100px) {
  .button {
    font-size: 0.9rem;
  }
  .send-button {
    font-size: 0.8rem;
  }
  h1 {
    font-size: x-large;
  }
}

.footer {
  background-color: #00695c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
}

.footer a {
  color: #fff;
}